/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body {
    background-color: #99FFFF;
    font-family:'Amaranth', sans-serif;
    padding:15px;
    max-width:900px;
}
h1 {
    color:#3E517A ;
}
label {
    color:#3E517A;
}
p {
    color: #3E517A;
}
p#sugg_text {
    font-size:45px;
    margin-top:40px;
}
p#today {
    font-size:50px;
    margin:60px;
}
p#yesterday2, p#tomorrow1 {
    font-size:30px;
    margin:43px;
}
p#yesterday1, p#tomorrow2 {
    font-size:12px; 
    margin:33px;
}

.suggestions {
    border-radius:35px;
    background-color:#CFFFF1;
    display:block;
    clear:both;
    width:95%;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding:5px;
}
.top-buttons {
    margin:5px;
    height:100px;
    display:inline;
}
.tbutton {
    width:6%;
    height:60px;
    display:inline-block;
    background-color: #CFFFF1;
    border-radius:35px;
    text-align:center;
}
.tbutton.zip {
    width:20%;
    height:70px;
    padding:5px;
    padding-top:10px;
    margin-left:30%;
}
.weathericons {
    background-color:#46B1C9;
    border-radius:90px;
    display:inline-block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.weathericons.medium {
    margin-right:1%;
    width:17%;
    height:120px;
}
.weathericons.narrow {
    margin-right:1%;
    width:10%;
    height:80px;
}
.weathericons.wide {
    margin-right:1%;
    width:38%;
    height:180px;
}
#me {
    float:left;
    height:70px;
    width:70px;
    border-radius:35px;
}
#friends {
    float:right;
    height:70px;
    width:70px;
    border-radius:35px;
}
#weathertitle {
    display:block;
    clear:both;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.todaysweather {
    display:inline-block;
    text-align:center;
    width:32%;
    margin-left:auto;
    margin-right:auto;
}