/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body {
    background-color: #99FFFF;
    font-family:'Amaranth', sans-serif;
    padding:15px;
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
}
h2 {
    color:#3E517A ;
    margin-top:15px;
}
input {
    color:#3E517A;
    border-radius:10px;
    font-family:'Amaranth', sans-serif;
    font-size:10pt;
    text-align: center;
}
label {
    color:#3E517A;
}
p {
    color: #3E517A;
}
p#footer {
    display:inline;
}
p#now {
    font-size:22pt;
}
p#sugg_text {
    font-size:52pt;
    margin:40px 20px 0 20px;
    display:block;
}
p#today {
    font-size:52pt;
    margin-top:48px;
}
p#yesterday2, p#tomorrow1 {
    font-size:22pt;
    margin-top:42px;
}
p#yesterday1, p#tomorrow2 {
    margin-top:30px;
}

.attr {
    float:right;
    padding-top:15px;
    width:40%;
}
.header {
    margin:5px;
    height:100px;
}
.suggestions {
    border-radius:35px;
    background-color:#CFFFF1;
    display:block;
    clear:both;
    width:95%;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding:5px;
}
.todaysweather {
    display:inline-block;
    text-align:center;
    width:32%;
    font-size: 16pt;
    margin-left:auto;
    margin-right:auto;
}
.tbutton.zip {
    display:inline-block;
    background-color: #CFFFF1;
    border-radius:35px;
    text-align:center;
    width:20%;
    height:70px;
    padding:5px;
    padding-top:10px;
}
.weathericons {
    background-color:#46B1C9;
    border-radius:90px;
    display:inline-block;
    text-align:center;
    margin-right:1%;
}
.weathericons:last-child {
    margin-right:0;
}
.weathericons.medium {
    width:17%;
    height:120px;
}
.weathericons.narrow {
    width:10%;
    height:80px;
}
.weathericons.wide {
    width:38%;
    height:180px;
}
.wulogo {
    float:right;
    max-width:65%;
}

#weathertitle {
    display:inline;
    clear:both;
    margin-left:auto;
    margin-right:auto;
    text-align:right;
    float:right;
}



/********************** Responsive ***************************/
@media screen and (max-width: 750px) {
    input {
        max-width:50%;
    }
}
@media screen and (max-width: 600px) {
    .weathericons {
        margin-right:0;
    }
    .weathericons.narrow {
        width: 11%;
    }
}

@media screen and (max-width: 500px) {
    p#sugg_text {
        font-size:32pt;
    }
    p#now {
        font-size: 16pt;
    }
}

@media screen and (max-width: 350px) {
    p#today {
        font-size: 40pt;
    }
    .weathericons.wide {
        height: 150px;
    }

}







